.navbar {
  width: calc(100vw - 160px);
  height: 80px;
  background-color: blue;
  position: fixed;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid #e1e1e1;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0px 80px;
  justify-content: space-between;
  .right-section ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    li {
      margin-left: 16px;
      button {
        background-color: #000000;
        color: #fff;
        border-radius: 8px;
        padding: 10px 16px;
        border: none;
        font-size: 16px;
      }
    }
  }
}
