.banner {
  padding-top: 80px;
  display: flex;
  flex: 1;
  border-bottom: 1px solid #e1e1e1;
  height: 50vh;
  .left-section {
    flex: 0.4;
    padding: 80px;
    margin: auto 0;
  }
  .right-section {
    flex: 0.6;
  }
}
